.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
  display: flex;
  flex-wrap: wrap;
  width: 800px;
}

.mat-form-field {
  font-size: 14px;
  width: 220px;
  margin-left: 8px;
  cursor: pointer;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.date .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.date .mat-form-field {
  width: 220px;
}

.date form {
  margin-bottom: 20px;
}

.date form > * {
  margin: 5px 0;
}

.reset {
  position: absolute;
  width: 58px;
  min-height: 52px;
  margin-left: 6px;
  text-align: center;
  padding-top: 5px;
  border-radius: 16px;
  border-color: rgba(0,0,0,.04);
  color: rgba(0,0,0,.6);
  cursor: pointer;
}

.reset:hover {
  color: black;
  background-color: rgba(0,0,0,.04);
}

.avatar {
  border-radius: 50%;
  flex-shrink: 0;

  // Makes `<img>` tags behave like `background-size: cover`. Not supported
  // in IE, but we're using it as a progressive enhancement.
  object-fit: cover;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 8px 8px 8px 0;
}
