.example-container {
  display: flex;
  flex-direction: column;
  width: 1490px;
  margin: auto;
}

.example-header {
  min-height: 64px;
  padding: 8px 7px 0;
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 35px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 220px;
  margin-left: 8px;
  cursor: pointer;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.date .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.date .mat-form-field {
  width: 220px;
}

.date form {
  margin-bottom: 20px;
}

.date form > * {
  margin: 5px 0;
}

.date {
  display: flex;
}

.reset {
  // position: absolute;
  // top: 122px;
  // left: 491px;
  margin-top: 9px;
  margin-left: 9px;
  background-image: url(../assets/images/reset-filter.png);
  width: 37px;
  background-repeat: no-repeat;
  height: 37px;
  background-size: 100%;
  cursor: pointer;
}

.reset:hover {
  background-image: url(../assets/images/reset-filter-active.png);
}


.avatar {
  border-radius: 50%;
  flex-shrink: 0;

  // Makes `<img>` tags behave like `background-size: cover`. Not supported
  // in IE, but we're using it as a progressive enhancement.
  object-fit: cover;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 8px 8px 8px 0;
}