<div class="example-header">
  <mat-form-field appearance="fill">
    <mat-label>Surname</mat-label>
    <input matInput [(ngModel)]="filterSurname" (ngModelChange)="filterData()" type="text">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Phone</mat-label>
    <input matInput [(ngModel)]="filterPhone" (ngModelChange)="filterData()" type="number">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>City</mat-label>
    <input matInput [(ngModel)]="filterCity" (ngModelChange)="filterData()" type="text">
  </mat-form-field>

  <div class="date">
    <mat-form-field appearance="fill">
      <mat-label>Date of birth from</mat-label>
      <input matInput [matDatepicker]="dateFrom" [(ngModel)]="birthFrom" (ngModelChange)="filterData()">
      <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
      <mat-datepicker #dateFrom></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Date of birth before</mat-label>
      <input matInput [matDatepicker]="dateTo" [(ngModel)]="birthTo" (ngModelChange)="filterData()">
      <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
      <mat-datepicker #dateTo></mat-datepicker>
    </mat-form-field>
    <button class="reset" (click)="reset()">Reset</button>
  </div>
</div>

<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="users" class="mat-elevation-z8">


    <!-- Picture Column -->
    <ng-container matColumnDef="picture">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <img class="avatar" src="{{element.picture.thumbnail}}">

      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name.title}} {{element.name.first}} {{element.name.last}}</td>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender</th>
      <td mat-cell *matCellDef="let element"> {{element.gender}}</td>
    </ng-container>

    <!-- Location Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef> Location</th>
      <td mat-cell *matCellDef="let element"> {{element.location.street}} {{element.location.city}}
        {{element.location.state}}
      </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email</th>
      <td mat-cell *matCellDef="let element"> {{element.email}}</td>
    </ng-container>

    <!-- Login Column -->
    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef> Login</th>
      <td mat-cell *matCellDef="let element"> {{element.login.username}} {{element.login.password}}
        {{element.login.salt}} {{element.login.md5}} {{element.login.sha1}} {{element.login.sha256}}
      </td>
    </ng-container>

    <!-- Dob Column -->
    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef> Dob</th>
      <td mat-cell *matCellDef="let element"> {{element.dob | date: 'dd.MM.yyyy'}}</td>
    </ng-container>

    <!-- Registered Column -->
    <ng-container matColumnDef="registered">
      <th mat-header-cell *matHeaderCellDef> Registered</th>
      <td mat-cell *matCellDef="let element"> {{element.registered | date: 'dd.MM.yyyy'}}</td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone</th>
      <td mat-cell *matCellDef="let element"> {{element.phone}}</td>
    </ng-container>

    <!-- Cell Column -->
    <ng-container matColumnDef="cell">
      <th mat-header-cell *matHeaderCellDef> Cell</th>
      <td mat-cell *matCellDef="let element"> {{element.cell}}</td>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id.name}} {{element.id.value}}</td>
    </ng-container>


    <!-- Nat Column -->
    <ng-container matColumnDef="nat">
      <th mat-header-cell *matHeaderCellDef> Nat</th>
      <td mat-cell *matCellDef="let element"> {{element.nat}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  </table>
  <mat-paginator (page)="onChangePageOrSize($event)" [pageSize]="pageSize" [length]="resultLength" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>

</div>
